$blue: #228be6;
$gray: #868e96;
$violet: #9775fa;

@mixin button-color($color) {
  background: $color;
  &:hover {
    background: lighten($color: $color, $amount: 10%);
  }
  &:active {
    background: darken($color: $color, $amount: 10%);
  }
}

.Button {
  display: inline-flex;
  color: white;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0.25rem;

  padding-left: 1rem;
  padding-right: 1rem;
  &.small {
    height: 1.75rem;
    font-size: 0.875rem;
  }
  &.medium {
    height: 2.25rem;
    font-size: 1rem;
  }
  &.large {
    height: 3rem;
    font-size: 1.25rem;
  }

  &.blue {
    @include button-color($blue);
  }

  &.gray {
    @include button-color($gray);
  }

  &.violet {
    @include button-color($violet);
  }

  & + & {
    margin-left: 0.25rem;
  }
}
